@keyframes headder {
    from {
        color: blue;
    }

    to {
        color: red;
    }
}

@keyframes pulse {

    0%,
    100% {
        animation-timing-function: ease-in;
    }

    50% {
        transform: scale(1.13);
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: lightgray;
    color: black;
}

header {
    text-align: center;
    color: red;
    font-size: x-large;
    animation-name: headder;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

#textLabels {
    display: flex;
    justify-content: center;
}

#timer {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

#buttontimer {
    display: flex;
    justify-content: center;
}

label {
    margin-left: 20px;
}

p {
    text-align: center;
}

table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.tile {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

#table1 {
    display: table;
    width: auto;
    margin: auto;
    padding: 10px;
    border-spacing: 3px;
}

#row1,
#row2,
#row3,
#row4 {
    display: table-row;
}

.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9,
.tile10,
.tile11,
.tile12,
.tile13,
.tile14,
.tile15 {
    width: 120px;
    height: 120px;
    display: table-cell;
    border: 1px solid black;
    background: url(background1.png);
    /*Image should be 480x480 px*/
    cursor: pointer;
    transition: transform 1s;
}

.tile1:hover,
.tile2:hover,
.tile3:hover,
.tile4:hover,
.tile5:hover,
.tile6:hover,
.tile7:hover,
.tile8:hover,
.tile9:hover,
.tile10:hover,
.tile11:hover,
.tile12:hover,
.tile13:hover,
.tile14:hover,
.tile15:hover {
    width: 120px;
    height: 120px;
    cursor: pointer;
    display: table-cell;
    border: 1px solid red;
    color: red;
    animation: pulse 2s infinite;
}

.tile1 {
    background-position: 0% -1%;
}

.tile2 {
    background-position: 33% 0%;
}

.tile3 {
    background-position: 66% 0%;
}

.tile4 {
    background-position: 100% 0%;
}

.tile5 {
    background-position: 0% 33%;
}

.tile6 {
    background-position: 33% 33%;
}

.tile7 {
    background-position: 66% 33%;
}

.tile8 {
    background-position: 99% 33%;
}

.tile9 {
    background-position: 0% 66%;
}

.tile10 {
    background-position: 33% 66%;
}

.tile11 {
    background-position: 66% 66%;
}

.tile12 {
    background-position: 99% 66%;
}

.tile13 {
    background-position: 0% 100%;
}

.tile14 {
    background-position: 33% 99%;
}

.tile15 {
    background-position: 66% 99%;
}

#options {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#pic1,
#pic2,
#pic3 {
    margin-right: 5px;
}

#winner {
    background: url(winner.png);
    font-size: 50px;
    text-align: center;
    animation-name: winner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes winner {
    from {
        color: orangered;
    }

    to {
        color: yellow;
    }
}